html {
  font-family: "Urbanist";
}

body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.bg-path {
  position: absolute;
  z-index: -5;
  left: 50%;
  top: 0%;
  height: 100%;
  transform: translateX(-50%);
}

.bg-path img {
  height: 100%;
  object-fit: cover;
}

.grid-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30vh;
  column-gap: 5rem;
}

.timeline-el {
  font-size: xx-large;
  font-style: italic;
  text-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  align-self: center;
  justify-self: center;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.timeline-el img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1px 5px;
  justify-self: center;
  align-self: center;
}

@media (max-width: 1280px) {
  .timeline-text {
    font-size: x-large;
    font-style: italic;
    align-self: end;
    text-align: center;
  }
}

@media (max-width: 850px) {
  body {
    background-image: url(./content/line-850.svg);
    background-repeat: no-repeat;
    background-size: 100vw;
  }

  .grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
