.footer {
    width: 100vw;
    background-color: #222725;
    color: white;
    font-family: 'Urbanist';
    padding-bottom: 30vh;
    margin-top: 10vh;
}

.ministeriöLogo{
    margin-top: 4vh;
    margin-left: 2vw;
}