.alaotsikko{
    font-family: 'Urbanist';
    font-style: normal;
    text-align: center;  
    color: #000000;
}

.teksti{font-family: 'Urbanist';
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin: 20px;}
