.alaotsikko{
    position: absolute;
    font-style: italic;
    text-align: right;
    font-size: 5rem;
    color: #e6e4df;
    top: 20vh;
    left: 20vw;
    width: 50vw;
}

.sivu{
    font-family: 'Urbanist';
}

.kuva1{
    object-fit: fill;
    z-index: -1;
}

.asiaa{
    display: flex;
    flex-direction: column;
    left: 10vw;
}

h3{
    text-align: center;
    font-size: 3rem;
    color: #2e2d2c;
}


.kohta1{
    display: flex;
    flex-direction: row;
    width: 90vw;
    margin-bottom: 5vh;
}

.kohta2{
    display: flex;
    flex-direction: row-reverse;
    width: 90vw;
    margin-left: 5vw;
    margin-bottom: 10vh;
}

.isoTeksti1{
    margin-left: 5vw;
    margin-right: 5vw;
}

.isoTeksti2{
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: right;
}