.kaikki{
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 38px;
    text-align: center;
    
    color: #242423;
    position: fixed;
    justify-content: space-between;
    width: 100vw;
    z-index: 1;
}

.valikko{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10vw;
    margin-right: 10vw;
}

.nappi1:hover{
    color: #ffffff;
}

.nappi2:hover{
    color: #ffffff;
}

.nappi3:hover{
    color: #ffffff;
}