body {
  background-color: #f7f7f2;
}

.sivu {
  display: flex;
  flex-direction: column;
  font-family: "Urbanist";
}

.alaotsikko {
  position: absolute;
  font-style: normal;
  text-align: right;
  font-size: clamp(50px, 5vw, 100px);
  color: #e6e4df;
  bottom: 30%;
  left: 25vw;
  width: 50vw;
  overflow: visible;
}

.kuva1 {
  z-index: -1;
  width: 100vw;
  object-fit: cover;
  height: 100vh;
  position: relative;
  filter: brightness(0.55);
}

.yläosa{
  position: relative;
}

.asiaa {
  flex-direction: column;
  display: flex;
  align-items: center;
  margin-left: 5vw;
  margin-right: 5vw;
 
}

.ilmestyy h2 {
  transition: 1s ease-in-out;
}

.igNimi {
  text-align: center;
  font-size: 2rem;
  margin: 3rem;
}

h3 {
  text-align: center;
  font-size: 3rem;
  color: #2e2d2c;
}

.kohta1 {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin-bottom: 15vh;
  margin-top: 15vh;
}

.kohta1 img {
  width: 30vw;
  object-fit: cover;
}

.kohta2 img {
  width: 30vw;
  object-fit: cover;
}

.kohta2 {
  display: flex;
  flex-direction: row-reverse;
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 10vh;
}

.isoTeksti1 {
  margin-left: 5vw;
  margin-right: 5vw;
}

.isoTeksti2 {
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: right;
}

.igRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: 2vw;
}

.igPostaus {
  display: flex;
  margin: 20px;
  width: 250px;
}

#compensate{
  width: 40vw;
}

.information{
  display: relative;
}
.lahdeOtsikko{
  color: white;
  font-size: clamp(17px, 2.5vw, 25px);
  margin: 0;
  margin-top: 20px;
  margin-bottom: 7px;
}

.lahde {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vh;
  width: clamp(200px, 30vw, 250px);
  margin-left: clamp(5px, 3vw, 30px);
  background-color: rgba(25, 57, 43, 0.80);
  padding: 30px;
  padding-bottom: 25px;
  border-radius: 1vw;
  font-size: 20px;
  color: white;
  z-index: 1;
  transition: all ease-out 0.5s;
}
.lahde:hover{
  background-color: rgba(25, 57, 43);
}
.wrappaaja{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.esittelyTeksti{
  font-size: 17px;
}
.haeTietoa{
  font-size: clamp(15px,2vw, 20px);
}
.ulkopuoliset{
  text-align: center;
  margin: 40px;
  font-size: 50px;
}
.tietoTekstiä{
  margin-top: 10vh;
  width: 64vw;
  font-size: clamp(15px, 1.5vw, 30px);
}
.väliOtsikko{
  margin-top: 10vh;
}
.icon1{
  width: 20%;
}

.arkielamaa{
  transition: all ease-out 0.5s;
  margin-bottom: 20px;
  margin-right: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 30vw;
  background-color: rgba(25, 57, 43, 0.80);
  padding: 35px;
  padding-bottom: 25px;
  border-radius: 1vw;
  font-size: 20px;
  color: white;
  z-index: 1;
}

.arkielamaa:hover{
  background-color: rgba(25, 57, 43);
}
.osa-alueet{
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

/* Media Query vaikuttaa vain kapeisiin näyttöihin */

@media only screen and (max-width: 900px) {
  #ig3 {
    display: none;
  }
  #ig6 {
    display: none;
  }
  .esittelyTeksti {
    font-size: 13.5px;
  }
  .osa-alueet{
    flex-wrap: none;
  }
}
@media only screen and (max-width: 680px) {

  .arkielamaa{
    margin-right: 0;
    width: 75vw;
  }
}
@media only screen and (max-width: 600px) {
  h3 {
    font-size: 2rem;
  }
  .alaotsikko {
    font-size: 5vh;
  }
  #ig2 {
    display: none;
  }

  #ig5 {
    display: none;
  }
  .esittelyTeksti{
    font-size: 12px;
  }
  .lahdeOtsikko{
    margin: 0;
  }
  .tietoTekstiä{
    width: 85vw;
    font-size: 12px;
  }
  .väliOtsikko{
    font-size: 20px;
  }
}
