body {
  background-color: #f7f7f2;
}

.sivu {
  display: flex;
  flex-direction: column;
  font-family: "Urbanist";
}

.alaotsikko {
  position: absolute;
  font-style: normal;
  text-align: right;
  font-size: clamp(50px, 5vw, 100px);
  color: #e6e4df;
  top: 25vh;
  left: 20vw;
  width: 50vw;
  overflow: visible;
}

.kuva1 {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

.asiaa {
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: pink;
}

.ilmestyy h2 {
  transition: 1s ease-in-out;
}

.igNimi {
  text-align: center;
  font-size: 2rem;
  margin: 3rem;
}

h3 {
  text-align: center;
  font-size: 3rem;
  color: #2e2d2c;
}

.kohta1 {
  display: flex;
  flex-direction: row;
  width: 90vw;
  margin-bottom: 15vh;
  margin-top: 15vh;
}

.kohta1 img {
  width: 30vw;
  object-fit: cover;
}

.kohta2 img {
  width: 30vw;
  object-fit: cover;
}

.kohta2 {
  display: flex;
  flex-direction: row-reverse;
  width: 90vw;
  margin-left: 5vw;
  margin-bottom: 10vh;
}

.isoTeksti1 {
  margin-left: 5vw;
  margin-right: 5vw;
}

.isoTeksti2 {
  margin-left: 5vw;
  margin-right: 5vw;
  text-align: right;
}

.igRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-inline: 2vw;
}

.igPostaus {
  display: flex;
  margin: 20px;
  width: 250px;
}

#compensate{
  width: 40vw;
}

.information{
  display: flex;
  justify-content: space-between;
  margin-bottom: 5vh;
}
.lahdeOtsikko{
  color: white;
  font-size: clamp(20px, 2.5vw, 30px);
}

.lahde {
  display: flex;
  flex-direction: column;
  width: clamp(100px,30vw, 300px);
  margin-left: clamp(20px, 5vw, 100px);
  background-color: rgba(25, 57, 43, 0.80);
  padding: 35px;
  padding-bottom: 25px;
  border-radius: 1vw;
  font-size: 20px;
  color: white;
  z-index: 1;
  transition: all ease-out 0.5s;
}
.lahde:hover{
  background-color: rgba(25, 57, 43);
}
.wrappaaja{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* Media Query vaikuttaa vain kapeisiin näyttöihin */

@media only screen and (max-width: 900px) {
  #ig3 {
    display: none;
  }
  #ig6 {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  h3 {
    font-size: 2rem;
  }
  .alaotsikko {
    font-size: 5vh;
  }
  #ig2 {
    display: none;
  }

  #ig5 {
    display: none;
  }
}

.arkielamaa{
  margin-bottom: 20px;
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 40vw;
  background-color: rgba(25, 57, 43, 0.80);
  padding: 35px;
  padding-bottom: 25px;
  border-radius: 1vw;
  font-size: 20px;
  color: white;
  z-index: 1;
  transition: all ease-out 0.5s;}
